<div class="mx-auto mb-8">
	{{ form_start(form, {'attr': {'class': 'mt-12 w-8/12 mx-auto','novalidate': 'novalidate'}}) }}
	<div>{{ form_errors(form) }}</div>

	<div class="w-full mb-4 border border-gray-200 rounded-lg bg-gray-50 dark:bg-gray-700 dark:border-gray-600">
		<div class="px-2  bg-white rounded-t-lg dark:bg-gray-800">

			<div class="h-32 py-4 pr-2">
				{{ form_label(form.text,'please enter the text',{'label_attr': {'class': 'sr-only'}}) }}

				{{ form_widget(form.text,{'attr':{'class':'w-full mx-2 text-sm text-gray-900 bg-white border-1/12
														dark:bg-gray-800 dark:text-white dark:placeholder-gray-400
														min-h-full break-all '}}) }}

				{{ form_errors(form.text) }}
			</div>
		</div>
		<div class="flex items-center justify-between border-t px-3 py-2 dark:border-gray-600">
			<button type="submit"
			        class="inline-flex items-center rounded-lg bg-blue-700 py-2.5 px-4 text-center text-xs font-medium text-white hover:bg-blue-800 focus:ring-4 focus:ring-blue-200 dark:focus:ring-blue-900">
				Post
			</button>
			<div class="flex space-x-1 pl-0 sm:pl-2">

				{{ form_widget(form.postImage,{'attr':{'class':'w-full mx-2 text-sm text-gray-900 bg-white border-1/12
														dark:bg-gray-800 dark:text-white dark:placeholder-gray-400
														min-h-full break-all '}}) }}

				{{ form_errors(form.postImage) }}

			</div>
		</div>
	</div>
</div>
{{ form_end(form) }}

