{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
<div>{{ form_errors(form) }}</div>

<div class="mx-auto">
	{{ form_label(form.title,'please enter the title',{'label_attr': {'class': 'block text-sm text-gray-700 dark:text-gray-300 font-medium'}}) }}
	{{ form_widget(form.title,{'attr':{'class':'block w-8/12 shadow-sm border--gray-300 dark:border-transparant dark:text-gray-800 rounded-md border p-2 mt-1 mb-2'}}) }}
	{{ form_errors(form.title) }}
</div>

<div>
	{{ form_label(form.text,'please enter the text',{'label_attr': {'class': 'block text-sm text-gray-700 dark:text-gray-300 font-medium'}}) }}
	{{ form_widget(form.text,{'attr':{'class':'block w-9/12 h-20 shadow-sm border--gray-300 dark:border-transparant
	dark:text-gray-800 rounded-md border p-2 mt-1 mb-2'}}) }}
	{{ form_errors(form.text) }}
</div>
<div>
	<button type="submit"
	        class="block w-4/12 shadow-sm border-transparent bg-indigo-600 hover:bg-indigo-700 dark:bg-indigo-500 dark:hover:bg-indigo-400 text-white rounded-md border p-2 mt-4 mb-2">
		save
	</button>
</div>
{{ form_end(form) }}


