
<div class="mx-auto w-9/12">
	<div class="ml-14">
		<div class="flex items-center ">
			{{ include('shared/_avatar.html.twig', {'size':32, profile: app.user.userProfile}) }}
			<div class="ml-16 ">
				{{ form_start(form,{'attr':{'novalidate':'novalidate'}}) }}
				{{ form_label(form.profileImage, 'Change', {'label_attr': {'class': 'shadow-sm border-transparent bg-gray-300
			hover:bg-gray-400 dark:bg-gray-700 dark:hover:bg-gray-900 cursor-pointer rounded-md border p-2'}}) }}
				{{ form_widget(form.profileImage,{'attr':{'class':'hidden'}}) }}
				{{ form_errors(form.profileImage) }}</div>
		</div>
	{{ form_label(form.name, 'Your Name :', {'label_attr': {'class': 'block text-sm text-gray-700 dark:text-gray-300
	font-medium'}}) }}
	{{ form_widget(form.name, {'attr': {'class': 'block w-full shadow-sm border-gray-300 dark:border-transparent dark:text-gray-800 rounded-md border p-2 mt-1 mb-2'}}) }}

	{{ form_label(form.bio, 'Your Bio : ', {'label_attr': {'class': 'block text-sm text-gray-700 dark:text-gray-300
	font-medium'}}) }}
	{{ form_widget(form.bio, {'attr': {'class': 'block w-full shadow-sm border-gray-300 dark:border-transparent dark:text-gray-800 rounded-md border p-2 mt-1 mb-2'}}) }}


	{{ form_label(form.websiteUrl, 'Your Website URL :', {'label_attr': {'class': 'block text-sm text-gray-700
	dark:text-gray-300 font-medium'}}) }}
	{{ form_widget(form.websiteUrl, {'attr': {'class': 'block w-full shadow-sm border-gray-300 dark:border-transparent dark:text-gray-800  rounded-md border p-2 mt-1 mb-2'}}) }}



<div class="grid grid-cols-1  md:grid-cols-2 gap-4">
	<div>
		{{ form_label(form.company, 'Company', {'label_attr': {'class': 'block text-sm text-gray-700 dark:text-gray-300 font-medium'}}) }}
		{{ form_widget(form.company, {'attr': {'class': 'block w-full shadow-sm border-gray-300 dark:border-transparent dark:text-gray-800 rounded-md border p-2 mt-1 mb-2'}}) }}
	</div>

	<div>
		{{ form_label(form.location, 'Location', {'label_attr': {'class': 'block text-sm text-gray-700 dark:text-gray-300 font-medium'}}) }}
		{{ form_widget(form.location, {'attr': {'class': 'block w-half shadow-sm border-gray-300 dark:border-transparent
		 dark:text-gray-800 rounded-md border p-2 mt-1 mb-2'}}) }}
	</div>
</div>

{{ form_label(form.dateOfBirth, 'Date of birth', {'label_attr': {'class': 'block text-sm text-gray-700 dark:text-gray-300 font-medium'}}) }}
{{ form_widget(form.dateOfBirth, {'attr': {'class': 'block l shadow-sm border-gray-300 dark:border-transparent
dark:text-gray-800 bg-white rounded-md border p-1 mt-1 mb-1'}}) }}
</div>
</div>